<app-pagination
  [totalPages]="totalPages"
  [selectedPage]="selectedPage"
  (pageSelected)="changePage($event)"
></app-pagination>
<div class="row">
  <div class="col-md-4" *ngFor="let character of characters">
    <div
      class="card mb-3 character-card"
      (click)="navigateToCharacterDetails(character.id)"
    >
      <img
        [src]="character.image"
        class="card-img-top"
        alt="{{ character.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
    </div>
  </div>
</div>
